body {
  background-color: lightgray;
  color: #000000;
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  max-height: 100%;
  max-width: 100%;
}

html { 
  font-size: 16px; 
}

/* only affects anchors in the header, not the body */
.call-to-action {
  font-size: 1rem;  
  color: red;
  float: right;
  padding: 0.5rem
  }

header {
  background-color: black;
  color: white;
  clear: both;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 100%;
}

header h1 a {
  vertical-align: bottom;
  bottom: 0;
  padding: 0;
  margin: 0.5rem;
  float: left;
  clear: both;
  font-family: arial;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

header h3 {
  vertical-align: bottom;
  margin: 0.5rem;
  bottom: 0;
  float: left;
  clear: both;
  padding: 0;
  font-family: arial;
  font-size: 1rem;
  font-weight: 200;
  color: darkgrey;
}

nav {
  background-color: darkgray;
  padding: 0rem;
  align-content: center;
  font-family: arial;
  font-size: 16px;
  margin: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 0rem;
  padding-bottom: 0.75rem;
}

nav ul {
  list-style: none;
}

nav ul li a {
  float: left;
  width: 20%;
  text-align: center;
}

main {
  max-width: 100%;
  display: block;
}

section {
  display: inline;
  box-sizing: border-box;
  width: 65%;
  height: 40%;
  padding: 0rem;
  margin-top: 4rem;
  margin-left: 0rem;
  margin: auto;
  float: right;
  overflow: auto;
}

img {
  width: 15rem;
  vertical-align: top;
  overflow: auto;
  padding: 1rem;
}

section h2 {
  font-family: arial;
  font-weight: 300;
  word-spacing: 4px;
}


aside {
  display: block;
  position: relative;
  width: 30%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: mediumpurple;
  overflow: hidden;
  float: left;
}

figure {
  margin: 0;
  padding: 0rem;
  overflow: auto;
  text-align: center;
  width: auto;
  font-family: sans-serif;
  font-size: 0.9rem;
}

section figure img {
  margin: 1rem;
  float: left;
  vertical-align: top;
  width: 10rem;
  overflow: auto;
}

figure img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: none;
  margin-right: none;
  width: 10rem;
  align-content: center;
}

figcaption {
  font-family: arial;
  font-size: 1.25rem;
  text-align: center;
}

.italic {
  font-style: italic;
}

.italic h2 {
  text-decoration: none;
  font-style: normal;
}

footer {
  background-color: black;
  border: none;
  border-top-color: black;
  border-top-style: dotted;
  border-top-width: 0.25rem;
  clear: both;
  color: white;
}

footer a {
  color: red;
}

footer p {
  padding: 1rem;
  font-family: arial;
  font-size: 0.85rem;
}

footer h5 {
  text-align: center;
  font-family: arial;
  font-weight: 400;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}